	.pxl-counter {
		.pxl--counter-number {
			display: inline-flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}
	.title-full-w {
		width: 100%;
	}
	.pxl-counterslide {
		display: -moz-inline-box;
		-moz-box-orient: vertical;
		display: inline-flex;
		vertical-align: middle;
		*vertical-align: auto;
		position: relative;
		.pxl-counterslide-inside {
			display: inline-flex;
		}
		.pxl-counterslide-digit-spacer {
			visibility: hidden;
		}
		.pxl-counterslide-digit, .pxl-counterslide-digit-spacer {
			display: -moz-inline-box;
			-moz-box-orient: vertical;
			display: inline-flex;
			vertical-align: middle;
			*vertical-align: auto;
			position: relative;
		}
		.pxl-counterslide-digit-inner {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
		}
		.pxl-counterslide-ribbon {
			display: block;
		}
		.pxl-counterslide-ribbon-inner {
			display: block;
			-webkit-backface-visibility: hidden;
		}
		.pxl-counterslide-value {
			display: block;
			-webkit-transform: translateZ(0);
		}
		.pxl-counterslide-value.pxl-counterslide-last-value {
			position: absolute;
		}
		&.pxl-counterslide-animating-up .pxl-counterslide-ribbon-inner {
			-webkit-transition: -webkit-transform 2s;
			-moz-transition: -moz-transform 2s;
			-ms-transition: -ms-transform 2s;
			-o-transition: -o-transform 2s;
			transition: transform 2s;
		}
		&.pxl-counterslide-animating-up.pxl-counterslide-animating .pxl-counterslide-ribbon-inner {
			-webkit-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			-o-transform: translateY(-100%);
			transform: translateY(-100%);
		}
		&.pxl-counterslide-animating-down .pxl-counterslide-ribbon-inner {
			-webkit-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			-o-transform: translateY(-100%);
			transform: translateY(-100%);
		}
		&.pxl-counterslide-animating-down.pxl-counterslide-animating .pxl-counterslide-ribbon-inner {
			-webkit-transition: -webkit-transform 2s;
			-moz-transition: -moz-transform 2s;
			-ms-transition: -ms-transform 2s;
			-o-transition: -o-transform 2s;
			transition: transform 2s;
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}
	}

	.title-full-w {
		width: 100%;
	}

	.pxl-counter1 {
		.pxl-counter--suffix {
			display: inline-block;
		}
		i {
			font-size: 43px;
		}
		svg {
			fill: #fff;
			height: auto;
			width: 46px;
		}
		.pxl-counter--number  {
			font-size: 90px;
			@extend .ft-theme-default;
			color: $primary_color;
			margin-top: 38px;
		}
		.pxl-counter--title {
			margin-top: -4px;
			font-size: 17px;
			line-height: 27px;
			font-weight: 500;
			color: #fff;
			@extend .ft-theme-default;
		}
		&.style3 {
			.pxl-counter--number span{
				background: linear-gradient(180deg, #FF6F00, #fff);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	.pxl-counter5 {
		.pxl-counter--suffix {
			display: inline-block;
		}
		i {
			font-size: 43px;
			color: #fff;
		}
		svg {
			path {
				fill: #fff;				
			}
			height: auto;
			width: 48px;
		}
		.pxl-counter--inner {
			position: relative;
			aspect-ratio: 1 / 1;
			transition: all .3s;
			border-radius: 50%;
			border: 1px solid #D8D8D8;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				transition: all .3s;
				bottom: 0;
				right: 0;
				border-radius: 50%;
			}
			&:hover {
				border-color: $primary_color;
				&:before {
					background-color: $primary_color;					
				}
				.pxl-counter--holder-hide {
					opacity: 1;
					visibility: visible;
					transform: scale(1) translate(0);
				}
				.pxl-counter--holder {
					opacity: 0;
				}
			}
		}
		.pxl-counter--number  {
			font-family: Inter;
			display: flex;
			font-size: 64px;
			font-weight: 400;
			line-height: 80px;
			letter-spacing: -1.28px;
			color: $secondary_color;
			.pxl-counter--suffix {
				font-size: 49px;
				font-family: Rubik;
			}
		}
		.pxl-counter--title {
			font-size: 18px;
			line-height: 28px;
			font-weight: 600;
			color: #fff;
			margin-top: 28px;
			margin-bottom: 10px;
			@extend .ft-theme-default;
		}
		.pxl-counter--desc {
			font-size: 14px;
			line-height: 25.2px;
			font-weight: 400;
			color: #fff;
			@extend .ft-theme-default;
		}
		.pxl-counter--holder  {
			height: 100%;
			transition: all .3s;
			width: 100%;
		}
		.pxl-counter--holder-hide {
			position: absolute;
			flex-direction: column;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			text-align: center;
			padding: 0 30px;
			color: var(--secondary-color);
			@include transition(all .3s cubic-bezier(.645,.045,.355,1));
			opacity: 0;
			visibility: hidden;
			transform: scale(0) translatey(-100px);
		}
	}


	.pxl-counter2 {
		&.style2 {
			.pxl-counter--holder {
				gap: 24px;
			}
		}
		&.style3 {
			.pxl-counter--number span{
				background: linear-gradient(147deg, #9481DF 19.64%, #4129A1 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		.pxl-counter--suffix {
			display: inline-block;
		}
		.pxl-counter--holder  {
			display: flex;
			align-items: center;
			column-gap: 21px;
			@media (max-width: 1024px) {
				column-gap: 15px;
			}
			@media (max-width: 767px) {
				flex-wrap: wrap;
			}
			.pxl-counter--icon {
				@extend .pxl-flex-center;
			}
			.pxl-counter--number  {
				display: flex;
				font-size: 64px;
				font-weight: 400;
				color: $primary_color;
				@extend .ft-theme-default;
				@media (max-width: 767px) {
					width: 100%;
					margin: 10px 0;
				}
			}
			.pxl-counter--title {
				font-size: 16px;
				color: #fff;
				line-height: 24px;
				@extend .ft-theme-default;
				text-transform: capitalize;
				@media (max-width: 767px) {
					br {
						display: none;
					}
				}
			}
		}
	}
	.pxl-counter3 {
		border-radius: 14px;
		border: 1px solid  #E7E7E7;
		background: rgba(167, 167, 167, 0.64);
		backdrop-filter: blur(9px);
		padding: 22px 0 45px 0;
		.pxl-counter--suffix {
			display: inline-block;
		}
		.pxl-counter--inner {
			.pxl-counter--holder  {
				display: flex;
				align-items: center;
				column-gap: 20px;
				.pxl-counter--icon {
					svg {
						fill: #fff;
						width: 40px;
						height: auto;
					}
					i {
						color: #fff;
					}
				}
				.pxl-counter--number  {
					.pxl-counter--value {
						font-family: Inter;
						font-size: 64px;
						color: #fff;
						font-weight: 400;
						line-height: 80px;
						letter-spacing: -1.28px;
					}
					.pxl-counter--suffix {
						font-family: Rubik;
						color: #fff;
						font-size: 30px;
						transform: translateY(5px);
						font-weight: 400;
						line-height: 80px;
						letter-spacing: -0.98px;
					}
				}
			}
		}
		.pxl-counter--title {
			position: relative;
			@extend .ft-theme-default;
			margin-top: 5px;
			color: #fff;
			letter-spacing: -0.16px;
			padding-top: 25px;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 109px;
				height: 1px;
				background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 50%, rgba(255, 255, 255, 0.00) 100%);
			}
		}
	}
	.pxl-counter4 {
		.pxl-counter--suffix {
			display: inline-block;
		}
		.pxl-counter--inner {
			.pxl-counter--holder  {
				display: flex;
				align-items: center;
				column-gap: 20px;
				.pxl-counter--icon {
					border-radius: 8px;
					display: flex;
					align-items: center;
					background-color: $primary_color;
					justify-content: center;
					width: 64px;
					height: 64px;
					svg {
						fill: #fff;
						width: 40px;
						height: auto;
					}
					i {
						color: #fff;
					}
				}
				.pxl-counter--number  {
					.pxl-counter--value {
						color: $secondary_color;
						font-size: 48px;
						font-weight: 400;
						line-height: 60px;
						letter-spacing: -0.96px;
						@extend .ft-theme-default;
					}
					.pxl-counter--suffix {
						color: $secondary_color;
						font-size: 24px;
						font-weight: 400;
						line-height: 0;
						letter-spacing: -0.48px;
						@extend .ft-theme-default;
						transform: translateY(-16px);
					}
				}
			}
		}
		.pxl-counter--title {
			margin-top: -2px;
			@extend .ft-theme-default;
			font-size: 14px;
			line-height: 22.4px;
			font-weight: 400;
			color: $third_color;
		}
	}
	body.rtl {
		
	}